<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.memberservice.persistence.MemberMapper">

    <!-- 회원 등록 -->
    <insert id="insertMember" parameterType="Member" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO member (member_name, email, password, nickname, role)
        VALUES (#{memberName}, #{email}, #{password}, #{nickname}, #{role})
    </insert>


    <!-- 이메일로 회원 조회  -->
    <select id="findByEmail" parameterType="String" resultType="Member">
        SELECT member_id, member_name, email, password, nickname, role, created_at
        FROM member
        WHERE email = #{email}
    </select>


    <!-- 회원 id로 조회 -->
    <select id="findByMemberId" parameterType="long" resultType="Member">
        SELECT member_id, member_name, email, password, nickname, role, created_at
        FROM member
        WHERE member_id = #{member_id}
    </select>

    <!-- 전체 회원 조회 -->
    <select id="findAllMembers" resultType="Member">
        SELECT member_id, member_name, email, password, nickname, role, created_at
        FROM member
    </select>

</mapper>