<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- MyBatis 동작 설정 -->
    <settings>
        <setting name="localCacheScope" value="STATEMENT" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="returnInstanceForEmptyRow" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="autoMappingUnknownColumnBehavior" value="NONE" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="defaultFetchSize" value="200"/>
    </settings>

    <!-- DTO 클래스 alias 설정 -->
    <typeAliases>
        <package name="org.example.sikdan.domain.meal.dto"/>
        <package name="org.example.sikdan.domain.food.dto"/>
        <package name="org.example.sikdan.domain.member.dto"/>
        <package name="org.example.sikdan.domain.meal.model.vo"/>
        <package name="org.example.sikdan.domain.food.model.vo"/>
        <package name="org.example.sikdan.domain.member.model.vo"/>
    </typeAliases>

</configuration>